body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bricknormal {
  color: blue;
}

.brickclicked {
  color: red;
}

.paedaclicked {
  opacity: 20%;
  color: hotpink;
}

.paedanoshow {
  color: gray;
}

.peda1{
  background-color: #00B7FF;
}

.peda2{
  background-color: orange;
}

.peda3 {
  background-color: orangered;
}


.peda4 {
  background-color: blueviolet;
}

.peda5 {
  background-color: yellow;
}


.peda6 {
  background-color: deeppink;
}

.peda7 {
  background-color: chartreuse;
}

.peda8 {
  background-color: darksalmon;
}

.peda9 {
  background-color: olivedrab;
}

.peda10 {
  background-color: tomato;
}
