/* indeholder hele kalenderen */
#grid-ydre {
    border: 1px solid red;
    width: 1024px;
    height: 768px;
    margin: 30px auto;
    padding: 10px;
    background-color: lightgrey;
    display: grid;
    grid-template-areas:
            "aendre-plan koekken stue multirum vaerksted legerum krogen legeplads1 legeplads2 pause"
            "ni . . . . . . . . ."
            "ti . . . . . . . . ."
            "elleve . . . . . . . . ."
            "tolv . . . . . . . . ."
            "tolv-tredive . . . . . . . . ."
            "tretten . . . . . . . . ."
            "fjorten . . . . . . . . ."
            "paedagog1 paedagog2 paedagog3 paedagog4 paedagog5 paedagog6 paedagog7 paedagog8 tjek-ind tjek-ud";
}

/* overskrifter */
#grid-aendre-plan {
    grid-area: aendre-plan;
    background-color: black;
    color: white;
}

#grid-koekken {
    grid-area: koekken;
}

#grid-stue {
    grid-area: stue;
}

#grid-multirum {
    grid-area: multirum;
}

#grid-vaerksted {
    grid-area: vaerksted;
}

#grid-legerum {
    grid-area: legerum;
}

#grid-krogen {
    grid-area: krogen;
}

#grid-legeplads1 {
    grid-area: legeplads1;
}

#grid-legeplads2 {
    grid-area: legeplads2;
}

#grid-pause {
    grid-area: pause;
}

/* tidspunkter */
#grid-ni {
    grid-area: ni;
}

#grid-ti {
    grid-area: ti;
}

#grid-elleve {
    grid-area: elleve;
}

#grid-tolv {
    grid-area: tolv;
}

#grid-tolv-tredive {
    grid-area: tolv-tredive;
}

#grid-tretten {
    grid-area: tretten;
}

#grid-fjorten {
    grid-area: fjorten;
}

/* pædagoger */
#grid-paedagog1 {
    grid-area: paedagog1;
}

#grid-paedagog2 {
    grid-area: paedagog2;
}

#grid-paedagog3 {
    grid-area: paedagog3;
}

#grid-paedagog4 {
    grid-area: paedagog4;
}

#grid-paedagog5 {
    grid-area: paedagog5;
}

#grid-paedagog6 {
    grid-area: paedagog6;
}

#grid-paedagog7 {
    grid-area: paedagog7;
}

#grid-paedagog8 {
    grid-area: paedagog8;
}

#grid-tjek-ind {
    grid-area: tjek-ind;
}

#grid-tjek-ud {
    grid-area: tjek-ud;
}

.paedagoger {
    background-color: green;
}

/* viser grid lines */
.punkter-med-kant {
    border: 1px black solid;
    text-align: center;
}