/* indeholder hele kalenderen */


/* viser grid lines */
.punkter-med-kant {
    border: 1px black solid;
}

/* centrerer tekst */
.center {
    text-align: center;
}

/* lokale og tidspunkt- felter for række 1 */
.felter {
    background-color: white;
}

/*buttons i blækspruttens vindue*/
.knapper {
    background-color: white;
    text-align: center;
}

#koekken {
    background-color: white;
    border:1px solid black;
    width:109px;
    height:25px;
    float:right;
    margin-right:80px;
}

#label-koekken {
    margin-left:80px;
}

#badevaerelse {
    background-color: white;
    border:1px solid black;
    width:109px;
    height:25px;
    float:right;
    margin-right:80px;
}

#label-badevaerelse {
    margin-left:55px;
}

/* lokale og tidspunkt- felter for række 3 */


#blaeksprutte-tekstfelt {
    grid-area: blaeksprutte_tekst;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#blaeksprutte-tekstfelt div {
    margin-left: 50px;
    margin-top: 12px;
}

#blaeksprutte-boks {
    grid-area: blaeksprutte_navn;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#blaeksprutte-felt {
    background-color: white;
    border:1px solid black;
    width:109px;
    height:25px;
    float:right;
    margin-right: 45px;
    margin-top: 10px;
}


#aendre-dagsplan {
    grid-area: aendre_plan;
}

#aendre-dagsplan div {
    margin-top: 12px;
}


#gem-dagsplan {
    grid-area: gem_dagsplan;
}

#tilbage-dagsplan {
    grid-area: tilbage_dagsplan;
}

#luk-rum {
    grid-area: luk_rum;
}

#aaben-rum {
    grid-area: aaben_rum;
}
/* tomt mellemrum */
#mellemrum {
    grid-area: mellemrum;
    border: 1px black solid;
    background-color: black;
}

/* pædagog inde i felterne */
.paedagog1, .paedagog2, .paedagog3 {
    text-align: left;
    width:100%;
}

/* pædagog valgt i blæksprutte vinduet */
.blaeksprutteVindue {
    opacity: 1;
}

/* pædagog-farver */
.paedagogFarve1 {
    background-color: pink;
}

.paedagogFarve2 {
    background-color: green;
}

.paedagogFarve3 {
    background-color: yellow;
}

.paedagogFarve4 {
    background-color: orange;
}

.paedagogFarve5 {
    background-color: aquamarine;
}

.paedagogFarve6 {
    background-color: lightblue;
}

.paedagogFarve7 {
    background-color: lightgrey;
}

.paedagogFarve8 {
    background-color: cyan;
}

.paedagogFarve9 {
    background-color: gold;
}

.paedagogFarve10 {
    background-color: lemonchiffon;
}

button {
    margin:0px;
}

.lukketRum {
    background-color: lightgrey;
}


.paedagogSelected {
    opacity: 0.5;
}

.selectionButtonsSelected {
    border: 2px red solid;
}